Package: com.lizynz.folderx.rootless
Name: FolderX
Depends: mobilesubstrate, firmware(>=15.0), com.ichitaso.iconorder
Conflicts: com.twickd.sirius24.folderplus, xyz.burritoz.thomz.folded, com.yourepo.i0s-tweak3r-betas.foldercontroller14, ca.ndoizo.bolders, com.4nni3.coolfolder, com.lizynz.foldercolor, com.ginsu.4ders, com.iadam1n.statusfolder, com.nightwind.dockapplibrary, com.tomaszpoliszuk.dockcontroller
Version: 1.0
Architecture: iphoneos-arm
Description: Allows you to configure folders
SileoDepiction: https://lizynz.github.io/depictions/com.lizynz.folderx/FolderX.json
Maintainer: Lizynz <lizynz@ya.ru>
Author: Lizynz <lizynz@ya.ru>
Section: Tweaks
