<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
        <dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>PostNotification</key>
			<string>com.lizynz.folderx</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>NC</string>
			<key>validTitles</key>
                 <array>
			<string>Default</string>
			<string>Color</string>
                 </array>
			<key>validValues</key>
                 <array>
			<integer>1</integer>
			<integer>2</integer>
            </array>
        </dict>
        <dict>
			<key>cellClass</key>
			<string>FTColorCell</string>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>key</key>
			<string>nameColor</string>
			<key>label</key>
			<string>Folder Name</string>
			<key>id</key>
			<string>nameColor</string>
			<key>PostNotification</key>
			<string>com.lizynz.folderx</string>
        </dict>
	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
	</dict>
        <dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>PostNotification</key>
			<string>com.lizynz.folderx</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>TC</string>
			<key>validTitles</key>
                 <array>
			<string>Default</string>
			<string>Color</string>
                 </array>
			<key>validValues</key>
                 <array>
			<integer>1</integer>
			<integer>2</integer>
                 </array>
        </dict>
        <dict>
			<key>cellClass</key>
			<string>FTColorCell</string>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>key</key>
			<string>textColor</string>
			<key>label</key>
			<string>Folder Label</string>
			<key>id</key>
			<string>textColor</string>
			<key>PostNotification</key>
			<string>com.lizynz.folderx</string>
        </dict>
	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
	</dict>
        <dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>PostNotification</key>
			<string>com.lizynz.folderx</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>IC</string>
			<key>validTitles</key>
                 <array>
			<string>Default</string>
			<string>Color</string>
                 </array>
			<key>validValues</key>
                 <array>
			<integer>1</integer>
			<integer>2</integer>
                 </array>
        </dict>
        <dict>
			<key>cellClass</key>
			<string>FTColorCell</string>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>key</key>
			<string>ficonColor</string>
			<key>label</key>
			<string>Folder Icon</string>
			<key>id</key>
			<string>ficonColor</string>
			<key>PostNotification</key>
			<string>com.lizynz.folderx</string>
        </dict>
	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
	</dict>
        <dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>PostNotification</key>
			<string>com.lizynz.folderx</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>FC</string>
			<key>validTitles</key>
                 <array>
			<string>Default</string>
			<string>Color</string>
			<string>Milk</string>
                 </array>
			<key>validValues</key>
                 <array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
                 </array>
        </dict>
        <dict>
			<key>cellClass</key>
			<string>FTColorCell</string>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>key</key>
			<string>fbackgroundColor</string>
			<key>label</key>
			<string>Folder Background</string>
			<key>id</key>
			<string>fbackgroundColor</string>
			<key>PostNotification</key>
			<string>com.lizynz.folderx</string>
        </dict>
		</array>
		<key>title</key>
		<string>Color Settings</string>
	</dict>
</plist>
