<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Title</string>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>key</key>
			<string>BoldTitle</string>
			<key>label</key>
			<string>Bold Title</string>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>PostNotification</key>
			<string>com.lizynz.folderx</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>title</string>
			<key>validTitles</key>
			<array>
				<string>Left</string>
				<string>Center</string>
				<string>Right</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
	</dict>
	<dict>
			<key>cellClass</key>
			<string>TitleStepperCell</string>
			<key>default</key>
			<real>40</real>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>key</key>
			<string>TitleSize</string>
			<key>id</key>
			<string>TitleSize</string>
			<key>label</key>
			<string>Size:</string>
			<key>max</key>
			<real>60</real>
			<key>min</key>
			<real>40</real>
			<key>height</key>
			<string>40</string>
			<key>PostNotification</key>
			<string>com.lizynz.folderx</string>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
                        <key>label</key>
			<string>Settings</string>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>key</key>
			<string>fullfolder</string>
			<key>label</key>
			<string>Big Folder - iPhone</string>
	</dict>
	<dict>
			<key>cellClass</key>
			<string>RadiusStepperCell</string>
			<key>default</key>
			<real>30</real>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>key</key>
			<string>FolderRadius</string>
			<key>id</key>
			<string>FolderRadius</string>
			<key>label</key>
			<string>Radius:</string>
			<key>max</key>
			<real>30</real>
			<key>min</key>
			<real>5</real>
			<key>height</key>
			<string>40</string>
			<key>PostNotification</key>
			<string>com.lizynz.folderx</string>
	</dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Style</string>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>PostNotification</key>
			<string>com.lizynz.folderx</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>old</string>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>iOS 9 - Blur</string>
				<string>iOS 9 - No Blur</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
                                <integer>3</integer>
			</array>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Color Settings</string>
			<key>detail</key>
			<string>ColorListController</string>
			<key>isController</key>
			<true/>
	</dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
                        <key>label</key>
			<string>Hide</string>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>key</key>
			<string>hideanimation</string>
			<key>label</key>
			<string>Hide Animation</string>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>key</key>
			<string>bfh</string>
			<key>label</key>
			<string>Hide Background</string>
	</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>key</key>
			<string>hidefoldertitlehs</string>
			<key>label</key>
			<string>Hide Title on HS</string>
	</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>key</key>
			<string>hidefoldername</string>
			<key>label</key>
			<string>Hide Title in Folder</string>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>key</key>
			<string>HideFolderLabel</string>
			<key>label</key>
			<string>Hide Label</string>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>key</key>
			<string>hidedots</string>
			<key>label</key>
			<string>Hide Page Dots</string>
	</dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other</string>
			<key>footerAlignment</key>
                        <integer>1</integer>
			<key>footerText</key>
			<string></string>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>key</key>
			<string>AutoClose</string>
			<key>label</key>
			<string>Auto Close Folder</string>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>key</key>
			<string>TapClose</string>
			<key>label</key>
			<string>Tap to Close Folder</string>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Launcher</string>
			<key>detail</key>
			<string>LauncherListController</string>
			<key>isController</key>
			<true/>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>key</key>
			<string>DragFolder</string>
			<key>label</key>
			<string>Drag Multi Folders</string>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lizynz.folderx</string>
			<key>key</key>
			<string>DragWidget</string>
			<key>label</key>
			<string>Drag Multi Widgets</string>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Author</string>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>action</key>
			<string>github</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>GitHub</string>
	</dict>
        <dict>
                        <key>cell</key>
			<string>PSLinkCell</string>
			<key>action</key>
			<string>twitter</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Developer Twitter</string>
	</dict>
	</array>
	<key>title</key>
	<string>Folder X</string>
</dict>
</plist>
